#editor {
  color: rgb(200, 200, 200);
  width: 100%;
  height: 100%;
}

#preview {
  color: rgb(200, 200, 200);
}

a {
  color: rgb(100, 100, 100);
}

blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

pre {
  border: 2px solid rgb(50, 50, 50);
  border-radius: 4px;

  padding: 4px;
}

code, pre {
  background-color: black;
}